<h1>Editing actionable</h1>

<%= render "form", actionable: @actionable %>

<br>

<div>
  <%= link_to "Show this actionable", @actionable %> |
  <%= link_to "Back to actionables", actionables_path %>
</div>
