<h1>Feedbacks</h1>

<%= link_to 'New Feedback', new_feedback_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Content</th>
      <th>Sentiment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>