<!DOCTYPE html>
<html>
  <head>
    <title>JbaaamMain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "jbaaam", "data-turbo-track": "reload" %>
    </head>

  <body> 
    <div>JBAAAM Template</div>
    <div id="root"></div>
    <%= javascript_include_tag '/static/js/main.05c3aa1a.js' %>
  </body>
</html>
